/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Google fonts */
body {
    font-family: 'Fredoka', sans-serif;
}
main {
    width: 70%;
    margin: auto;
}
/* HEADER */
main header {
    text-align: center;
}
main header > h1 {
    color: rgb(211, 2, 117);
}
h1 {
    margin: 1rem 0;
}
header > p {
    margin: 2rem 0;
}
/* CARDS */
.flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards {
    border: 1px solid red;
    width: calc((100% / 3) - 2rem);
    margin: 1rem 0;
}
div > img {
    width: calc(100% / 3);
}
.display-flex {
    display: flex;
}
.profile-description {
    line-height: 2rem;
    padding-left: 1rem ;
}